body,
html {
	/* Flex-box */
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;
}

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*! Header block ========================================= */
header {
	/* Flex-box */
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100px;
	background-color: red;
	border: 2px solid;
}

header nav {
	/* Flex-box */
	display: flex;
	gap: 20px;
}

/*! About block ========================================= */
.about {
	/* Flex-box */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 20px;

	width: 100%;
	height: 50px;
	background-color: yellow;
	border: 2px solid;
}

.about img {
	width: 30px;
}

/*! Inside block ========================================= */
.inside {
	/* Flex-box */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 60px;

	width: 100%;
	height: 400px;
	background-color: salmon;
	border: 2px solid;
}

.history {
	/* Flex-box */
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100px;
	background-color: blueviolet;
}
footer {
	/* Flex-box */
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 100px - 50px - 400px - 100px);
	width: 100%;
	background-color: #2a2a2a;
	color: #fff;
}
